

#background {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    height: 100%;
    width: 100%;
    
}   

.rad_1 {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 5%;

    height: 15%;
    width: 50%;
}

#dag_2 {
    position: relative;
    left: 0px;

    max-height: 100%;
    width: auto;
}


#dag_4 {
    position: relative;
    
    max-height: 100%;
    width: auto;
}


#dag_12 {
    position: relative;

    max-height: 50%;
    width: auto;
}

#dag_23 {
    position: relative;

    max-height: 50%;
    width: auto;
}
