
#background {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    height: 100%;
    width: 100%;
    
} 


.kalender {
    text-align:center;
    margin: auto;

    height: 15%;
    width: 100%;
}

table {
    margin:auto;
}

#rad_1 {
    width:100%;
}

#rad_1 > td > img {
    margin: 10px;
}


.dag_vanlig > img {
    max-height:50%;
    position: relative;
    display: flex;

    max-height: 200px;
    width: auto;
}

#dag_2 {
    position: relative;
    display: flex;

    max-height: 200px;
    width: auto;
}


#dag_4 {
    position: relative;
    display: flex;

    max-height: 200px;
    width: auto;
}


#dag_12 {
    position: relative;
    display: flex;

    max-height: 100px;
    width: auto;
}

#dag_23 {
    position: relative;
    display: flex;

    max-height: 100px;
    width: auto;
}
